#wrapper {
    display: none !important;
  }
  .mobile-view {
    width: 100%;
  }
    /* Initial body */
    body {
      left: 0;
      margin: 0;
      position: relative;
      font-family: sans-serif;
    }
    
    /* Initial menu */
    .menu {
      background: #771929;
      left: -285px;  /* start off behind the scenes */
      height: 100%;
      position: fixed;
      width: 285px;
    }
    
    /* Basic styling */
    
    .jumbotron {
      background-color: black; 
      height: 100%;
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
    }
    
    .menu ul {
      border-top: 1px solid #636366;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .menu li {
      border-bottom: 1px solid #636366;
      font-family: sans-serif;
      line-height: 45px;
      padding-bottom: 3px;
      padding-left: 20px;
      padding-top: 3px;
    }
    
    .menu a {
      color: #fff;
      font-size: 1.2em;
      text-decoration: none;
      text-transform: uppercase;
    }
    
    .icon-close {
      cursor: pointer;
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 8px;
    }
    
    .icon-menu {
      color: #fff;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      padding-top: 5px;
      text-decoration: none;
      text-transform: uppercase;
    }
    .icon-menu-bar {
      width: 100%;
      height: 50px;
      background-color: #A31929;
    }
    .icon-menu i {
      margin-right: 5px;
    }
    #login {
      width: 120px;
      height: 35px;
      margin-top: -37px;

        float: right;
        padding-top: 1px;
    }
    .login-button {
      background-color: #771929;
      font-size: 1.2em;
      font-weight: bold;
      color: white;
      height: 35px;
      width: 80px;
    }
    #loggedin
    {
	text-decoration: none;
	color: White;
	padding-top: 2px;

    }
    #loggedin a
    {
	text-decoration: none;
	
    }
    #loggedin a:visited
    {
	color: White;
    }
    #loginfields {
        width: 300px;
        margin-left: -100px;
        font-size: 1.5em;
    }
    #loginfields2 {
        width: 150px;
        margin-left: 30px;
    }
    span #logout
    {
	background: #808080;
	background:-moz-linear-gradient(top, #595959 , #515151);
	border-radius:3px;
	box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
	color:#f9f9f9;
	font-family:Verdana, Geneva, sans-serif;
	font-size:.8em;
        padding: 2px;
	font-weight:bold;
	text-transform:uppercase;
    }
    span #logout:active
    {
	position:relative;
	top:1px;
    }
    /* MAIN BODY STYLES */
    .header {
        position: absolute;
        margin-top: 45px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("logo.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .main {
      width: 100%;
      height: auto;
      font-size: 1.1em;
      margin-top: 28%;
      background-color: white;
      clear: both;
    }
    #rules {
        border: solid thin black;
        width: 95%;
        margin: 0 auto 20px auto;
    }
    /* CONTENT STYLES */
    .mainpara 
    {
	padding: 10px;
        
    }
    .space {
        height: 400px;
        width: 100%;
        background-color: black;
    }
    .login-button-index {
      background-color: #771929;
      font-size: 1em;
      font-weight: bold;
      color: white;
      height: 35px;
      width: 100%;
    }
    .login-index {
        width: 100%;
        height: 40px;
        font-size: 1.3em;
    }
    #headline {
	margin: 10px 0 20px 18px;
	color: white;
	background-color: #A31929;
	width: 90%;
	height: 30px;
	padding: 20px 0 0 10px;
	border-left: solid 10px black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 1.2em;
    }
    #headline h3 {
	margin: -7px 0 0 0;
    }
    footer {
	width: 100%;
	border-top: solid thin black;
	margin: 0 auto;
	clear: both;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    }
    #footer {
	text-align: center;
	margin: 5px auto;
    }
}